@import url(https://fonts.bunny.net/css?family=poppins:400);

:root {
    --color-background-100: #1D1C20;
    --color-background-85: rgba(29, 28, 32, 0.85);
    --color-background-75: rgba(29, 28, 32, 0.75);
    --color-background-50: rgba(29, 28, 32, 0.50);

    --color-text-light: #fff;
    --color-text-dark: rgb(32, 32, 32);

    --color-accent: #2B7FFF;
    --color-accent-75: rgba(43, 128, 255, 0.75);
}

@media screen and (min-width: 25em) {
    body {
        font-size: 2rem;
    }
}

@media screen and (max-width: 25em) {
    body {
        font-size: 1.5rem;
    }
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url(img/pexels-photograph-3961942.jpg) no-repeat center center fixed;
    background-size: cover;
    
    margin: 0;
    width: 100%;
    height: 100vh;
    
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-dark);
    text-align: center;
}

a {
    color: var(--color-text-light);
    text-decoration: none;

    transition: 0.4s;
}

a:hover {
    text-shadow: 0 0 0.5em var(--color-accent-75);
    transition: 0.3s;
}